.slider-container {
    width: 500px; /* Lebar 1 gambar */
    overflow: hidden; /* Biar yang di luar container gak keliatan */
    border: 2px solid black;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease; /* Animasi geser */
}

.gambar {
    width: 500px;
    /* height: 300px; */
    /* object-fit: cover; Biar gambar rapi */

}



.utama{
    display: flex;
    justify-content: center;
}
